{{yield}}
<div class="card" style="margin:10px;background-color: #EEEEEE;">
  <li class="til-note" style="padding-top:10px;">
    {{markdown-to-html til.description }}
  </li>
  <div style="background-color:#EEEEEE;height:50px;border-top:1px solid rgba(0,0,0,.12);padding:10px;;">
    <p style="float:left">
      {{#deferred-content hasVote as |d|}}
        {{#d.fulfilled as |result|}}
          {{#unless result}}
            <div class="btn" style="background-color:#66BB6A;">{{til.votes.length}}</div>
            <button class="btn btn-super" {{action 'vote' til.id}}><i class="material-icons">thumb_up</i></button>
          {{/unless}}
        {{/d.fulfilled}}
      {{/deferred-content}}
    </p>
    <p style="float:right;padding-top:5px;">
      {{til.author.email}}
    </p>
  </div>
  <div style="clear: both;"></div>
</div>
